<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Prestashop Checker</title>
    <link rel="stylesheet" th:href="@{css/normalize.css}">
    <link rel="stylesheet" th:href="@{library/owlcarousel/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{library/owlcarousel/owl.theme.default.min.css}">
    <link rel="stylesheet" th:href="@{library/fancybox/jquery.fancybox.min.css}">
    <link rel="stylesheet" th:href="@{library/awesome-select/awselect.min.css}">
    <link rel="stylesheet" th:href="@{css/animate.css}">
    <link rel="stylesheet" th:href="@{css/style.css}">
    <link rel="stylesheet" th:href="@{css/media.css}">

    <link href="https://fonts.googleapis.com/css?family=Oswald:400,600|Ubuntu+Condensed" rel="stylesheet">


</head>

<body>
<header class="header">
    <div class="header-inner">
        <div class="logo">
            <a href="http://prestashop-freelance.com/">
                <img src="http://prestashop-freelance.com/img/logo.png" alt="prestashop-freelance-logo">
            </a>
        </div>
        <nav>
            <!--TODO после перехода по данены-->
            <ul class="nav__list">
                <li class="nav__item tab">
                    <a th:href="@{/}" class="nav__link">Поиск</a>
                </li>
                <li class="nav__item tab result">
                    <a  class="nav__link">Результат</a>
                </li>
                <li class="nav__item tab">
                    <a th:href="@{/base}" class="nav__link">База сайтов</a>
                </li>
                <li class="nav__item tab">
                    <a th:href="@{/clients}" class="nav__link">Наши клиенты</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
<main>

    <div class="search tab_item">
        <form action="#" class="search__form">
            <div class="search__inputs">
                <input type="text" class="search__input" placeholder="Введите поисковый запрос">
                <input type="number" class="search__input search__input--number" value="500" min="0">
                <button class="search__btn-incr"><i class="fas fa-plus"></i></button>
            </div>
            <button class="search__upload">Загрузить</button>
            <button class="search__submit" type="submit"><i class="fas fa-search"></i>&nbsp;&nbsp;&nbsp;Искать</button>
        </form>
        <div class="search-result">
            <ul class="search-result__list">

            </ul>
        </div>
    </div>

    <div class="result tab_item" style="display:none">
        <ul class="result__list">

        </ul>
    </div>
</main>
<footer>
</footer>
<script th:src="@{js/jquery-3.2.1.js}"></script>
<!--<script>-->
<!--window.jQuery || document.write('<script src="library/jquery/jquery-3.3.1.min.js"><\/script>');-->
<!--</script>-->
<script th:src="@{library/fontawesome/fontawesome-all.min.js}"></script>
<script th:src="@{library/owlcarousel/owl.carousel.min.js}"></script>
<script th:src="@{library/fancybox/jquery.fancybox.min.js}"></script>
<script th:src="@{library/awesome-select/awselect.min.js}"></script>
<script th:src="@{library/wow/wow.min.js}"></script>
<script th:src="@{js/common.js}"></script>


<script th:src="@{js/test.js}"></script>

</body>

</html>